{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock %}

{% block content %}
{%
set PAGE_NAMES = [
    "grow",
    "battle-op",
]
%}

<header>{{ config.title }}</header>

<p>お約束:</p>

<ul>
    <li>特に断らない限り、除算は小数点以下切り捨てとする。</li>
</ul>

<h2>Contents</h2>

<ul>
{% for name in PAGE_NAMES %}
{% set page = get_page(path=name~"/index.md") %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<p>この文書は<a href="https://github.com/taotao54321/SusanoohResource">gitリポジトリ</a>で管理されている。誤りの指摘などは Issue へどうぞ。</p>
{% endblock %}
